
:root{
	--editor_height: 33%;
}

body {
	font-family: sans-serif;
	margin: 0px;
}

p {
	font-size: small;
}

div.inputsArea {
	background-color: #F0F0F0;
}

h1 {
	font-size: medium;
}

canvas {
	width: 100%;
	height: calc(100% - var(--editor_height));
}
canvas.graphDiagram {
	border: solid 1px black;
	width: 200px;
	height: 200px;
	float: right;
}

#editor { 
	position: absolute;
	top: calc(100% - var(--editor_height));
	right: 25%;
	bottom: 0;
	left: 0;
}

#editor_info {
	position: absolute;
	top: calc(100% - var(--editor_height));
	right: 0;
	bottom: 0;
	left: 75%;
    background-color: #202020;
    padding: 10px;
    color: #8F908A;
    font-family: monospace;
    font-size: 18px;
}